

h1{
    text-align: center;
}

.box{
    background-color: azure;
    border: white solid;
}

#maincontent{
    margin: 30px auto;
}

.nav-link{
    color: #f8f9fa!important;
}

.show{
    background-color: rgb(5, 5, 5);
}

na